# GCP
GCP_PROJECT_ID=
BUCKET_LOCATION=
GCS_BUCKET=
GCS_TEMP_BUCKET=
GOOGLE_APPLICATION_CREDENTIALS_HOST=

# Citi Bike
CITIBIKE_GBFS_URL=https://gbfs.citibikenyc.com/gbfs/gbfs.json

# BigQuery
BQ_RAW_DATASET=
BQ_STAGING_DATASET=
BQ_MART_DATASET=
BQ_INTERMEDIATE_DATASET=
BQ_OPS_DATASET=
BQ_LANDING_DATASET=

# Kafka
KAFKA_BOOTSTRAP_SERVERS=
KAFKA_STATION_STATUS_TOPIC=
KAFKA_STATION_STATUS_DLQ_TOPIC=

# Spark
SPARK_MASTER_URL=
SPARK_APP_NAME=

# Airflow
AIRFLOW_UID=5000

# Secrets
SLACK_WEBHOOK_URL=
